<% include partials/header%>

<h1><strong><%=campground.name %></strong></h1>
<div class="img-thumbnail">
    <img src="<%=campground.img %>">
</div>
<p><%=campground.description %></p>

<% include partials/footer%>